<%= form_with(model: @book, local: false) do |form| %>
   <div class="field">
    <%= form.label :title,'What is Book are you buy?' %>
    <div class="field">

    <select class="form-select mt-1 mb-2" name="book_idx" id="category_select" aria-label="Default select example">
      <%= @reserve.each do |a| %>
      <option value="<%= a.id %>"><%= a.book.title %></option>
      <% end %>
    </select>
    <%= form.hidden_field :user_id, value: current_user.id%>
  
  <div class="actions">
    <%= form.submit "To Pay", class:'btn btn-success' %>
  </div>
<% end %>
 
 <script>
 setTimeout(function(){ 
   $('#msg').html('<h2>Time expired for buying book</h2>')
   $('#form').html(' ')
   setTimeout(function(){
     $('#msg').html(' ')
   },2000)
 }, 3000);

 
 </script>